{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gesso Morro Agudo</title>    
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link href="{% static 'gesso.css' %}" rel="stylesheet" type="text/css" />
    <!--<link href="custom-download.css" rel="stylesheet" type="text/css" />-->
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
</head>

  <body>
    <div id="cabeçalho">
        <img src="{% static 'img/logo.png' %}" class="centro" style="max-width: 100%;">
        <h1 class="centro" id="titulo">GESSO MORRO AGUDO</h1>
        <h2 class="centro">Molduras - Sancas - Forros - Rebaixamentos - Florões - Colunas - Capitéis - Drywall - Divisórioas - Gesso em pó</h2>
        <h3 class="centro" style="margin-top: 10; color:red;"><i>José Nivaldo</i></h3>
        <h3 class="centro" >FONES:(16)3851-4514   (16)99968-7370(CTBC)   (16)99320-0055(Claro)   (16)98100-1373(TIM)</h3>
        <h3 class="centro" style="margin-top: 10;">Rua Ademar Xavier Dos Santos n°710 - Jardim Caliórnia</h3>
        <h3 class="centro">CEP 14640-000 - Morro Agudo - SP</h3>
    </div>

    <div class="categoria">
        <div class="tipo">
            <button class="dropbtn">MOLDURAS</button>
        </div>
        <ul>
            <li>
                <div class="tipo">
                    <h3>GESSO EM PÓ</h3>
                </div>
                <ul>

                    {% for i, ii in tabela %}
                        <div class="item">
                            <img src="{% static 'img/mold3.png' %}" class="ima">
                            <div><p class="titulo">{{ i }}</p></div>                       
                        </div>
                    {% endfor %}

                    <div class="item">
                        <img src="{% static 'img/mold3.png' %}" class="ima">
                        <div><p class="titulo">moldura</p></div>                       
                    </div>

                    <div class="item">
                        <img src="{% static 'img/mold3.png' %}" class="ima">
                        <div><p class="titulo">moldura</p></div>                       
                    </div>

                    <div class="item">
                        <img src="{% static 'img/mold3.png' %}" class="ima">
                        <div><p class="titulo">moldura</p></div>                       
                    </div>

                    <li>gesso 40kg</li>
                    <li>gesso cola</li>
                </ul>
            </li>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
        </ul>
    </div>

    <div class="categoria">
        <div class="tipo">
            <button class="dropbtn">DRYWALL</button>
        </div>
        <ul>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
        </ul>
    </div>

    <div class="categoria">
        <div class="tipo">
            <button class="dropbtn">GESSO 3D</button>
        </div>
        <ul>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
            <li>gesso</li>
        </ul>
    </div>


    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>

</html>