body{
  background:#b7bdb9;
}

ul{
  margin: 0;
}

h5{
  font-size: 2rem;
}

.titulo{
  text-align: center;
  margin-top: 50%;
  margin-left: 50%;
}

#cabeçalho{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 45%;
  }

#titulo{
  background: -webkit-linear-gradient(#2c92c1, #1e5a75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  -webkit-text-stroke: 1px white;
  filter: drop-shadow(0px 0px 4px  #1e5a75);
  font-family: 'Coda Caption', sans-serif;
}

#logo{
  max-width: 100%;
}

.cartao{
  max-width: 25%;
  margin: 1%;
}

.foto{
  max-width: 8% !important;
  max-height: 1;
}

.categoria {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
.tipo{
  display: flex;
  align-items: center;
  border: thin solid black !important;
  background-color: #3082a8 !important;
}

.centro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.item{
  background:#d0d5d2;
  height: 10%;
  display: inline-flex;
  width: 100%;
  padding-bottom: 1px;
}

.dropbtn {
  background-color:#3082a8;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: left;
  }

  @media screen and (max-width:1000px) {
    .categoria {
      width:100%;
    }
    #cabeçalho{
      width: 100%;
    }
    #itens{
      display: none;
    }
    #logo{
      max-width: 60%;
    }
    .cartao{
      max-width: 90%;
    }
    .foto{
      max-width: 20% !important;
    }
  }